package {{.apiPackageName}}

import (
    "context"
    "{{.module}}/library/common"
    "{{.module}}/library/util/response"
    "{{.module}}/library/util/page"
    "{{.module}}/library/util/param"
    "{{.module}}/service/{{.TableName}}"
    "github.com/pkg/errors"
    "icode.baidu.com/baidu/gdp/ghttp"
)

func {{.StructName}}Router(router ghttp.Router) {
    g := router.Group("/{{.StructName | toLower}}")
    g.HandleFunc("GET", "/detail", Get{{.StructName}})
    g.HandleFunc("GET", "/list", Get{{.StructName}}List)
    g.HandleFunc("POST", "/create", Create{{.StructName}})
    g.HandleFunc("POST", "/update", Update{{.StructName}})
    g.HandleFunc("POST", "/delete", Delete{{.StructName}})
}

{{template "api_getall.go.tmpl" .}}
{{template "api_get.go.tmpl" .}}
{{template "api_add.go.tmpl" .}}
{{template "api_update.go.tmpl" .}}
{{template "api_delete.go.tmpl" .}}
