{{define "api_update.go.tmpl"}}
// Update{{.StructName}} Update a single record from {{.TableName}} table in the {{.DatabaseName}} database
func Update{{.StructName}}(ctx context.Context, req ghttp.Request) ghttp.Response {
	// bind json
    request := &{{.TableName}}.Update{{.StructName}}Req{}
    err := param.BindJSONAndValid(req, request)
	if err != nil {
		return response.NewParamErrorResponse(ctx, req, err)
	}

    if request.ID == 0 {
        return response.NewParamErrorResponse(ctx, req, errors.New("id is required"))
    }

	// TODO param validation

    err = {{.TableName}}.Update{{.StructName}}(ctx, request)
    if err != nil {
        return response.NewCommonErrorResponse(ctx, req, err)
    }
    return response.NewJSONResponse(ctx, req, common.Success, "success")
}
{{end}}

