{{define "api_delete.go.tmpl"}}
// Delete{{.StructName}} Delete a single record from {{.TableName}} table in the {{.DatabaseName}} database
func Delete{{.StructName}}(ctx context.Context, req ghttp.Request) ghttp.Response {
    request := &struct{
        ID int64 `json:"id" validate:"required"`
    }{}
    err := param.BindJSONAndValid(req, request)
    if err != nil {
        return response.NewParamErrorResponse(ctx, req, err)
    }

    id := request.ID
    err = {{.TableName}}.Delete{{.StructName}}(ctx, id)
    if err != nil {
        return response.NewCommonErrorResponse(ctx, req, err)
    }

    return response.NewJSONResponse(ctx, req, common.Success, "success")
}
{{end}}
