{{define "api_get.go.tmpl"}}
// Get{{.StructName}} is a function to get a single record from the {{.TableName}} table in the {{.DatabaseName}} database
func Get{{.StructName}}(ctx context.Context, req ghttp.Request) ghttp.Response {
    id := param.QueryInt64(req, "id")
    if id == 0 {
        return response.NewParamErrorResponse(ctx, req, errors.New("id is required"))
    }

    item, err := {{.TableName}}.Get{{.StructName}}(ctx, id)
    if err != nil {
        return response.NewCommonErrorResponse(ctx, req, err)
    }

    return response.NewJSONResponse(ctx, req, common.Success, item)
}
{{end}}

