{{define "api_add.go.tmpl"}}
// Create{{.StructName}} add to add a single record to {{.TableName}} table in the {{.DatabaseName}} database
func Create{{.StructName}}(ctx context.Context, req ghttp.Request) ghttp.Response {
	// bind json
    request := &{{.TableName}}.Create{{.StructName}}Req{}
    err := param.BindJSONAndValid(req, request)
	if err != nil {
		return response.NewParamErrorResponse(ctx, req, err)
	}

	// TODO param validation

    item, err := {{.TableName}}.Create{{.StructName}}(ctx, request)
    if err != nil {
        return response.NewCommonErrorResponse(ctx, req, err)
    }
    return response.NewJSONResponse(ctx, req, common.Success, item)
}
{{end}}
