{{define "api_getall.go.tmpl"}}
// Get{{.StructName}}List is a function to get a slice of record(s) from {{.TableName}} table in the {{.DatabaseName}} database
func Get{{.StructName}}List(ctx context.Context, req ghttp.Request) ghttp.Response {
    pageParam := page.NewPageParamByRequest(req)
    param := &{{.TableName}}.Get{{.StructName}}ListReq{
        ID: param.QueryInt64(req, "id"),
        PageParam: pageParam,
    }

    items, total, err := {{.TableName}}.Get{{.StructName}}List(ctx, param)
    if err != nil {
        return response.NewCommonErrorResponse(ctx, req, err)
    }

    return response.NewJSONResponse(ctx, req, common.Success, map[string]interface{}{
        "items": items,
        "total": total,
    })
}
{{end}}
