{{define "dao_gorm_delete.go.tmpl"}}
// Delete{{.StructName}} is a function to delete a single record from {{.TableName}} table in the {{.DatabaseName}} database
func Delete{{.StructName}}(ctx context.Context, db *gorm.DB, scopes ...func(*gorm.DB) *gorm.DB) (rowsAffected int64, err error) {
    return Update{{.StructName}}(ctx, db, &{{.StructName}}{IsDel: 1}, scopes...)
}
{{end}}
