{{define "dao_gorm_getall.go.tmpl"}}
// Get{{.StructName}}List is a function to get a slice of record(s) from {{.TableName}} table in the {{.DatabaseName}} database
// error - db Find error
func Get{{.StructName}}List(ctx context.Context, db *gorm.DB, scopes ...func(*gorm.DB) *gorm.DB) (results []*{{.modelPackageName}}.{{.StructName}}, err error) {
	err = db.Model(&{{.StructName}}{}).Scopes(scopes...).
		Find(&results).Error
  if err != nil {
		err = errors.Wrap(err, "[Get{{.StructName}}List]")
		return
	}
	return
}

func Get{{.StructName}}Count(ctx context.Context, db *gorm.DB, scopes ...func(*gorm.DB) *gorm.DB) (count int64, err error) {
	err = db.Model(&{{.StructName}}{}).Scopes(scopes...).
		Count(&count).Error
  if err != nil {
		err = errors.Wrap(err, "[Get{{.StructName}}Count]")
		return
	}
	return
}
{{end}}
