{{define "dao_gorm_update.go.tmpl"}}
// Update{{.StructName}} is a function to update a single record from {{.TableName}} table in the {{.DatabaseName}} database
func Update{{.StructName}}(ctx context.Context, db *gorm.DB, payload interface{}, scopes ...func(*gorm.DB) *gorm.DB) (rowsAffected int64, err error) {
   result := db.Model(&{{.StructName}}{}).Scopes(scopes...).Updates(payload)
   err = result.Error
   if err != nil  {
      err = errors.Wrap(err, "[Update{{.StructName}}]")
      return
   }
   rowsAffected = result.RowsAffected
   return
}
{{end}}
