{{define "dao_gorm_add.go.tmpl"}}
// Create{{.StructName}} is a function to add a single record to {{.TableName}} table in the {{.DatabaseName}} database
// error - db create call failed
func Create{{.StructName}}(ctx context.Context, db *gorm.DB, record *{{.StructName}}) (insertID int64, err error) {
    result := db.Create(record)
		err = result.Error
		if err != nil {
			err = errors.Wrap(err, "[Create{{.StructName}}]")
	    return
		}
		insertID = record.ID
		return
}
{{end}}
