{{define "service_add.go.tmpl"}}

type Create{{.StructName}}Req struct {
    {{range .TableInfo.CodeFields}}
        {{- if not .PrimaryKeyArgName }}{{- .GoFieldName }} {{ .GoFieldType }} `{{.JSONAnnotation}}`{{end}}
    {{end}}
}

func Create{{.StructName}}(ctx context.Context, req *Create{{.StructName}}Req) (record *{{.TableName}}.{{.StructName}}, err error) {
    record = &{{.TableName}}.{{.StructName}}{
        {{- range .TableInfo.CodeFields}}
            {{- if not .PrimaryKeyArgName }}{{- .GoFieldName }}: req.{{- .GoFieldName }},{{end}}
        {{end}}
   }
    _, err = {{.TableName}}.Create{{.StructName}}(ctx, resource.GormDB, record)
    return
}
{{end}}
