{{define "service_get.go.tmpl"}}
func Get{{.StructName}}(ctx context.Context, id int64) (record interface{}, err error) {
    record, err = {{.TableName}}.Get{{.StructName}}ByID(ctx, resource.GormDB, id)
    return
}
{{end}}