{{define "service_getall.go.tmpl"}}

type Get{{.StructName}}ListReq struct {
    {{range .TableInfo.CodeFields}}
        {{- .GoFieldName }} {{ .GoFieldType }} `{{.JSONAnnotation}}`
    {{end}}
    PageParam *page.PageParam
}

func Get{{.StructName}}List(ctx context.Context, req *Get{{.StructName}}ListReq) (items []*{{.TableName}}.{{.StructName}}, total int64, err error) {
    scope := func(db *gorm.DB) *gorm.DB {
		if req.ID != 0 {
			db = db.Where("id = ?", req.ID)
		}
		return db
	}

	items, err = {{.TableName}}.Get{{.StructName}}List(ctx, resource.GormDB, scope, req.PageParam.PageScope())
    if err != nil {
        return
    }

    total, err = {{.TableName}}.Get{{.StructName}}Count(ctx, resource.GormDB, scope)
    if err != nil {
        return
    }
    return
}
{{end}}